//base
@import "./base/reset";
@import "./base/font";
@import "./base/color";
@import "./base/mixin";

//components
@import "./components/about";
@import "./components/photoList";
@import "./components/topList";
@import "./components/slider";
@import "./components/form";
@import "./components/preview";

//layout
@import "./layout/header";
@import "./layout/footer";
h1 {
  font-family: "SBAggroB", sans-serif;
}

section {
  .filter {
    background-color: rgb(246, 245, 248);
    padding: 10px;
    @include flex;
    gap: 3px;
    > p {
      font-size: 13px;
    }
    > .select-filter {
      max-width: 20%;
    }
  }
  .title {
    padding: 30px 10px;
    h1 {
      font-size: 35px;
      padding-bottom: 10px;
    }
    > p {
      padding-left: 5px;
    }
    @include flex;
    flex-direction: column;
  }
}
.image-wrap {
  position: relative;
  width: 100%;
  img {
    object-fit: cover;
  }
}
img {
  object-fit: contain;
}
