section {
  .list {
    &.photos {
      max-width: 80%;
      margin: 0 auto;
      .masonry-wrap {
        > div {
          &:nth-of-type(2n) {
            .photo-wrap {
              position: relative;
              display: flex;
              flex-direction: column-reverse;
              .text {
                background-color: rgb(232, 203, 255);
              }
            }
          }
          &:nth-of-type(2n + 1) {
            .photo-wrap {
              .text {
                background-color: #c4daff;
              }
            }
          }
        }
      }
      .photo-wrap {
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        overflow: hidden;
        @include image;
        cursor: pointer;
        .text {
          padding: 20px;
          .artist {
            font-weight: bold;
            font-size: 22px;
            padding-bottom: 10px;
          }
          .des {
            line-height: 1.2;
          }
        }
      }
    }
  }
}
.photo-detail {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  .detail-wrap {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    padding: 50px;
    position: relative;
    border-radius: 13px;
    overflow: hidden;
    border: 3px solid white;
    .close {
      color: black;
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
        color: gray;
      }
    }
    .des {
      @include image;
      .text-wrap {
        display: flex;
        gap: 10px;
        flex-direction: column;

        div,
        h3 {
          @include flex;
          b {
            font-weight: bold;
            width: 100px;
            padding: 4px;
            border-radius: 4px;
            display: inline-block;
            background-color: #8989ba;
            color: white;
            margin-right: 3px;
            @include pointFont();
          }
          p {
          }
        }
      }
      .photo-wrap {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;

        .photo {
          width: 150px;
          height: 100%;
          border: 2px solid #eee;
          img {
            width: 100%;
            object-fit: cover;
            height: 200px;
          }
        }
      }
    }
  }
}

:where(.css-dev-only-do-not-override-p0fwez).ant-image-preview-root
  .ant-image-preview-img {
  max-width: 60vw;
  object-fit: contain;
}
